.background-blur {
    position: fixed;
    inset: 0;
    background: url("./assets/products.png") center/cover no-repeat;
    filter: blur(10px);
    transform: scale(1.1);
    z-index: -1;
    /* behind everything */
}

/* Header */
.header3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(33, 33, 87);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 1;
    /* make sure it's above background */
}

.add-data-btn3 {
    width: 150px;
    height: 35px;
    border: none;
    transition: .3s;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgb(65, 151, 205);
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.add-data-btn3:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

/* Body container */
.body3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Card content */
.child-of-details {
    width: 320px;
    height: 380px;
    background-color: rgb(15, 7, 75);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 1;
    /* above background */
}

.details-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
    padding: 10px;
    font-size: 1.3rem;
}

.product-img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
}