@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Mozilla+Headline:wght@200..700&family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    background-color: rgb(33, 33, 87);
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.view-data-btn {
    width: 100px;
    height: 30px;
    border: none;
    transition: .3s;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgb(65, 151, 205);
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.view-data-btn:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

.body {
    background: url("./assets/form-img.avif") no-repeat center center/cover;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-fillup {
    width: 300px;
    height: 320px;
    padding: 20px;
    /* border: 1px solid red; */
    background-color: rgb(33, 33, 87);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;

}

.form div {
    /* border: 1px solid black; */
    margin-bottom: 25px;
    padding: 5px;
    color: white;
}

.form div input {
    margin-left: 20px;
    width: 200px;
    padding: 5px;
    background: none;
    border: 1px solid grey;
    color: white;
}

#image-input {
    border: none;
}

.form div label {
    color: white;
}

.form-operations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid black; */
}

.submit-btn {
    margin-left: 20px;
    width: 80px;
    height: 30px;
    font-size: 16px;
    background-color: green;
    color: white;
    border: none;
    transition: .3s;
    cursor: pointer;
    border-radius: 5px;
}

.clear-btn {
    margin-right: 20px;
    width: 80px;
    height: 30px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
    transition: .3s;
    cursor: pointer;
    border-radius: 5px;
}

.submit-btn:hover {
    background-color: white;
    color: green;
    font-weight: bold;
}

.clear-btn:hover {
    background-color: white;
    color: red;
    font-weight: bold;
}