.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(33, 33, 87);
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.add-data-btn {
    width: 150px;
    height: 35px;
    border: none;
    transition: .3s;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgb(65, 151, 205);
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.add-data-btn:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

.body2 {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* optional, ensures full page if few items */
    overflow-y: auto;
    /* enables scroll */
    /* border:1px solid blue; */
}

.parent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* border:1px solid red; */
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.child {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 30px 0px rgb(232, 228, 228);
    background-color: rgb(230, 243, 255);
    padding: 20px;
    cursor: pointer;
}

.product-img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

.details {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: rgb(21, 21, 118);
    padding-bottom: 5px;
}